/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat-core();

$material-theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($mat-indigo),
      accent: mat-palette($mat-indigo),
    ),
  )
);
@include angular-material-theme($material-theme);

.background {
  background: #101010;
}

.background-light-primary {
  background: mat-color($mat-indigo, 50);
}

$spaceValue: 8px;
.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.margin {
  margin: $spaceValue;
}

.padding {
  padding: $spaceValue;
}

@each $direction in ("top", "right", "bottom", "left") {
  /* We create `$selector` */
  .margin-#{$direction} {
    margin-#{$direction}: $spaceValue;
  }
  .padding-#{$direction} {
    padding-#{$direction}: $spaceValue;
  }
  @each $multiplicator in (2, 3) {
    .margin-x#{$multiplicator} {
      margin: $spaceValue * $multiplicator;
    }
    /* We create `$selector` */
    .margin-#{$direction}-x#{$multiplicator} {
      margin-#{$direction}: $spaceValue * $multiplicator;
    }
    .padding-#{$direction}-x#{$multiplicator} {
      padding-#{$direction}: $spaceValue * $multiplicator;
    }
  }
}

.experience-list.mat-list {
  .mat-list-item {
    margin-bottom: 16px;
    .mat-list-item-content {
      align-items: flex-start;
    }
  }
}

.mat-chip-list-wrapper {
  align-items: center !important;
  .mat-chip {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.no-padding-dialog {
  .mat-dialog-container {
    padding: 0;
    overflow: unset;
  }
}

.mat-card {
  gallery {
    height: 354px !important;
    background-color: transparent !important;
  }
}

strong {
  font-weight: 500;
}

a[mat-list-item] {
  mat-icon {
    color: mat-color($mat-grey, 800);
  }
  span {
    color: mat-color($mat-indigo, 500);
  }
}
